# Prevent bash scripts from being checked out with
# CRLF line endings on Windows
dvgraph text eol=lf
dvloupe text eol=lf
dvmap text eol=lf
dvpackager text eol=lf
dvplay text eol=lf
dvsampler text eol=lf
*.sh text eol=lf
